#section1 {
    background-color: rgb(173, 173, 241);
}

#section2 {
    background-color: rgb(191, 245, 196);
}

#section3 {
    background-color: rgb(116, 140, 248);
}

#section4 {
    background-color: rgb(96, 96, 96);
}
#nav-home{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: inherit;
    display: block;
}